# Distribution file for the OERacerHUD project.


# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# project repository
darcs /projects/OERacerHUD http://openengine.dk/code/projects/OERacerHUD
darcs-dev /projects/OERacerHUD fh.daimi.au.dk:/users/cgd/code/projects/OERacerHUD

# required extensions
darcs /extensions/SDL                    http://openengine.dk/code/extensions/SDL
darcs /extensions/OpenGLRenderer         http://openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/TGAResource            http://openengine.dk/code/extensions/TGAResource
darcs /extensions/OBJResource            http://openengine.dk/code/extensions/OBJResource
darcs /extensions/FixedTimeStepPhysics   http://openengine.dk/code/extensions/FixedTimeStepPhysics
darcs /extensions/AccelerationStructures http://openengine.dk/code/extensions/AccelerationStructures
darcs /extensions/OEGUI			 http://openengine.dk/code/extensions/OEGUI
darcs /extensions/GenericHandlers        http://openengine.dk/code/extensions/GenericHandlers

darcs-dev /extensions/SDL                    fh.daimi.au.dk:/users/cgd/code/extensions/SDL
darcs-dev /extensions/OpenGLRenderer         fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLRenderer
darcs-dev /extensions/TGAResource            fh.daimi.au.dk:/users/cgd/code/extensions/TGAResource
darcs-dev /extensions/OBJResource            fh.daimi.au.dk:/users/cgd/code/extensions/OBJResource
darcs-dev /extensions/AccelerationStructures fh.daimi.au.dk:/users/cgd/code/extensions/AccelerationStructures
darcs-dev /extensions/FixedTimeStepPhysics   fh.daimi.au.dk:/users/cgd/code/extensions/FixedTimeStepPhysics
darcs-dev /extensions/OEGUI                  fh.daimi.au.dk:/users/cgd/code/extensions/OEGUI
darcs-dev /extensions/GenericHandlers        fh.daimi.au.dk:/users/cgd/code/extensions/GenericHandlers

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# project data
any /projects/OERacerHUD/data http://openengine.dk/data/models/Sahara001.zip
any /projects/OERacerHUD/data http://openengine.dk/data/models/FutureTank.zip
