# Distribution file for the OERacer project.
# http://www.openengine.dk/wiki/Projects/OERacer

# main repository
git / https://github.com/OpenEngineDK/openengine.git

# project repository
git /projects/OERacer https://github.com/OpenEngineDK/projects-OERacer.git

# required extensions
git /extensions/SDL                    https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/OpenGLRenderer         https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/TGAResource            https://github.com/OpenEngineDK/extensions-TGAResource.git
git /extensions/OBJResource            https://github.com/OpenEngineDK/extensions-OBJResource.git
git /extensions/FixedTimeStepPhysics   https://github.com/OpenEngineDK/extensions-FixedTimeStepPhysics.git
git /extensions/AccelerationStructures https://github.com/OpenEngineDK/extensions-AccelerationStructures.git
git /extensions/GenericHandlers        https://github.com/OpenEngineDK/extensions-GenericHandlers.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# project data
any /projects/OERacer/data http://openengine.dk/data/models/Sahara001.zip
any /projects/OERacer/data http://openengine.dk/data/models/FutureTank.zip
